ktor:
  application:
    modules:
      - com.github.sipe90.lunchscraper.LunchScraperApplicationKt.module
  deployment:
    port: 8080
lunch-scraper:
  mongo-db:
    url: ''
    database: ''
  api:
    api-key: ''
  open-ai:
    api-key: ''
    base-url: 'https://api.openai.com/v1/'
    model: gpt-5.1
  settings:
    default-schedule: '0 0 8-15 ? * * *'
