ktor:
  application:
    modules:
      - com.github.sipe90.lunchscraper.LunchScraperApplicationKt.module
  deployment:
    port: 8080
lunch-scraper:
  mongo-db:
    url: ''
    database: ''
  api:
    api-key: ''
  open-ai:
    api-key: ''
    base-url: 'https://api.openai.com/v1/'
    model: gpt-5.1
  settings:
    default-schedule: '0 0 8-15 ? * * *'
    default-system-prompt: "You act as a data extractor.
      You process text documents scraped off from a restaurant's website and produce a JSON document containing the current week's lunch menu.
      Use the same language as the one used in the documents.
      Only extract data of the menus for the specified week and ignore menus for all other weeks.
      Follow instructions in schema description properties.
      If only one menu is found for a non-descriptive day, assume the same menu for all days of the week when lunch is available.
      If no valid menu for this week is found or any other error(s) occur, include an appropriate error message(s) in the error-property at root of the response.
      You are allowed and encouraged to correct small spelling mistakes in menu item descriptions."
    default-user-prompt-prefix: "Extract information from the following text document(s) and focus on menus for the current week ({{week}}).
      If the document contains menus for multiple restaurants, only extract menus for the restaurant named {{name}}"
